{% extends 'base.html.twig' %}

{% block body %}
    <h1>Instructor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>image</th>
                <td class="center-block" style="width:50%"><img class="img-responsive" src="{{ asset('images/instructors/' ~ instructor.img) }}"/></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ instructor.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ instructor.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ instructor.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ instructor.email }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ instructor.salary }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ instructor.phone }}</td>
            </tr>
            <tr>
                <th>formations: </th>
                <td> {% for formation in instructor.formations %}
                        <span class="label label-xlg label-primary arrowed arrowed-right">
                            <a class="white" href="{{ path('training_show', { 'id':  formation.id }) }}">{{ formation.name }}</a>
                        </span>

                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('instructor_index') }}">Back to the list</a>
        </li>
        {% if app.user.hasRole('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('instructor_edit', { 'id': instructor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
